.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0;
  grid-auto-rows: minmax(10px, auto);
  width: min(80vw, 80vh);
  height: min(80vw, 80vh);
}

.board > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}