

.even:nth-of-type(odd) {
  background-color: #ffeebb;
}

.even:nth-of-type(even) {
  background-color: #558822;
}

.odd:nth-of-type(odd) {
  background-color: #558822;
}

.odd:nth-of-type(even) {
  background-color: #ffeebb;
}